@charset "utf-8";

/************* Reset CSS *************/
/* 清除内外边距 */
html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset,iframe, legend, label, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

i, em{
    font-style: normal;
}

h1 ,h2 ,h3 ,h4, h5, h6 { font-size: 100%; font-weight: normal;}

address, cite, dfn, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
/*a:hover { text-decoration: underline; }*/

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img, button{ border: none;}
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
    outline: none;
}

img, iframe, table, form{ vertical-align: top;}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border-left: none;
    height: 1px;
}
/************* Reset CSS *************/
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


@-webkit-keyframes clockwiseSpin {
  0% {
    transform: rotate(-50deg);
    -webkit-transform: rotate(-50deg);
  }

  100% {
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
  }

}

@-webkit-keyframes counterclockwiseSpinAndFlip {
  0% {
    -webkit-transform: scale(-1, 1) rotate(50deg);
  }
  100% {
    -webkit-transform: scale(-1, 1) rotate(-50deg);
  }
}
